# Elisp
*.elc

# packages
/elpa/
/.cask/

# recovery and backup directories
/auto-save-list/
/.backups/
/.auto-saves/
/server/
/transient/
/eln-cache/
projectile-bookmarks.eld
.recentf
.smex-items
.cache/
.lsp-session-v1
